a, a:hover, a:active {
  text-decoration: none;
}

.eqcard {
  width: 300px;
  min-height: 400px;
  overflow: hidden;
  display: block;
  position: relative;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #415263;
  box-shadow: 10px 10px 10px #415263;
  box-sizing: content-box;
}

.eqcard .eqcard-header {
  position: relative;
}

.eqcard .eqcard-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #e3ebf4; 
}

.eqcard .eqcard-title .title {
  text-align: left;
  font-size: 1.8rem;
}

.eqcard .eqcard-title .subtitle {
  text-align: left;
  font-size: 1.2rem;
}

.eqcard .eqcard-header img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.eqcard .eqcard-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  fill: white;
}

.eqcard .eqcard-menu:hover > ul {
  display: block;
  right: 25px;
  opacity: 1;
  transition: all .2s ease;
}

.eqcard .eqcard-menu ul {
  position: absolute;
  right: 0;
  top : 0;
  opacity: 0;
  width: 115px;
  transition: all .2s ease;
}

.eqcard-menu ul > li:hover {
  opacity: 1;
}

.eqcard .eqcard-menu .eqcard-icon {
  height: 25px;
  width: 25px;
  list-style-type: none;
  float: right;
}

.eqcard-body {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  overflow: hidden;
}


.eqcard-footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: 0 auto;
}

